@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/* header */
header{
    margin: auto;
    height:64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
header .logo{
    width: 300px;
}
.menu-btn{
    width: 50px;
    height: 50px;
    background-color: #A8B8A5;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    border-radius: 12px;
}

.menu-btn span{
    width: 1px;
    height: 1px;
    opacity: 0;
    display: block;
    overflow:hidden; /*確定選單不會跑出來*/
}

.menu-btn::before{
    content:"";
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: #fff;
    /* 以下三項為垂直置中的設定   */
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*可以有多個陰影*/
    box-shadow: 0 10px 0 #fff/*下方做一條*/,0 -10px 0 #fff; /*用y軸的負值做上方的一條*/
}

header .menu{
    display: none;
}

/* 文字+搜尋欄 */
section{
    margin: auto;
}
.search-box{
    margin: auto;
    text-align: center;
}
.search-box h1{
    font-size: 28px;
    padding:6px 0 14px;
}
.search-box strong{
    border-bottom: 2px solid #E0DA48;
}
.search-box .guide a{
    color:#646464;
    text-decoration: none;
}
.search-box .search-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-area .select{
    width: 345px;
    height: 50px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    margin: 5px 0;
}
.search-box .text{
    margin-bottom: 35px;
}
.search-area .textSearch{
    background-color: #F9F9F9;
}
.search-area .buttonSearch{
    background-color: #7F977B;
    color:#FFFFFF;
    text-align: center;
}

/* 輪播圖 */
.banner-pic{
    text-align: center;
    margin-bottom: 30px;
    width: 345px;
    height: 185px;
}
.banner-pic img{
    width: 100%;
    min-height: 185px;
    border-radius: 24px;
}

/* newEvent */
.new-event,
.hot-spot,
.good-food{
    margin: 24px 0;
}
.container{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;

}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h2{
    font-size: 36px;
    padding: 6px 0;
}
.title a{
    color:#FF725E;
    text-decoration: none;
}
.card{
    display: flex;
    width: 100%;
    margin: 8px 15px;
    background-color: #A8B8A5;
}
.card .pic{
    width: 90px;
    height: 62px;
}
.card .pic img{
    border-radius: 12px;
    width: 100%;
    max-height: 62px;
    overflow: hidden;
}